@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.files {
    color: green;
    font-weight: bold;
    font-size: 30px;
    font-family: roboto;
}

.navbar-heading {
    color: #800020;
    font-weight: 500;
    font-size: 20px;
    font-family: roboto;

}

.gender {
    color: #800020;
    font-weight: 600;
    font-size: 20px;
    font-family: roboto;
}

.center {
    text-align: center;
}

.length {
    height: 20px;
    width: 20px;
}

.coapps-image {
    height: 50%;
    width: 50%;
}

.coapps-center {
    text-align: center;
}

.paragraph-one {
    color: #cb4154;
    font-weight: 500;
    font-family: italic;
    text-align: center;
    font-size: 17px;
}

.coapps {
    text-align: center;
    padding-top: 80px;
}

.message-para {
    color: #cb4154;
    font-weight: 300;
    font-family: bree serif;
    text-align: center;
    font-size: 17px;
}

.paragraph {
    color: #cb4154;
    font-weight: 400;
    font-family: italic;
    text-align: center;
    font-size: 14px;
}

.span {
    color: red;
}

.image {
    height: 100px;
    width: 400px;
    text-align: center;
}

.employee-cont {
    height: 145vh;
}

.manager-cont {
    height: 100vh;
}

.login-message {
    text-align: center;
    color: green;
    font-weight: 500;
    font-family: roboto;
}

.button {
    background-color: #922724;
    height: 40px;
    width: 80px;
    border-color: transparent;
    color: white;
    border-radius: 5px;
}

.button-container {
    text-align: center;
}

.label-Manager {
    color: #922724;
    font-weight: 600;
    font-size: 20px;
    font-family: roboto;
}

.heading {
    font-family: roboto;
    text-align: center;
    font-weight: bold;
    color: #ee0443;
}

.line {
    height: 100px;
}

.border {
    border-width: 5px;
    border-radius: 3px;
}


.para-style {
    color: red;
    font-weight: 500;
    font-family: roboto;
}

.container {
    background-image: url("https://img.freepik.com/free-vector/hand-painted-smooth-watercolor-texture-abstract-background-design_1017-51304.jpg?t=st=1713503186~exp=1713506786~hmac=8234b266e770fba34fdee0fe299842a891a3ca6189a25a180ff286bd6d93813e&w=1380");
    background-size: cover;
    height: 550vh;
    width: 100vw;
}

.margin {
    margin-left: auto;
}

.label {
    color: #800020;
    font-weight: 600;
    font-size: 20px;
    font-family: roboto;
}